.dash-div {
  margin: 50px;
}

.dashboard button {
}

.dashboard .user-pic {
  vertical-align: top;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-right: 20px;
}

.subtitle-container {
  display: inline-block;
  margin-bottom: 30px;
}

.dashboard .subtitle > div:first-child {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.subtitle-container {
  margin-top: 20px;
}

.subtitle > div {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.subtitle button {
  margin: 0;
  margin-top: 0.5em;
}

.dashboard h2 {
  font-size: 3em;
  margin-right: 10px;
}

.roommate-pics {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  margin: 10px;
}
.roommate-pics:hover {
  box-shadow: 0px 0px 10px 5px #ff3b3f;
  transition: 0.125s;
}

main > div {
  display: flex;
  justify-content: space-around;
}

.body-block {
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
  width: 20em;
  min-width: 250px;
  text-align: center;
  margin-bottom: 50px;
}

#past-roommates {
  margin: 0 auto;
  display: block;
}

.body-block .fas {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  font-size: 180px;
}

.dashboard main {
  margin-bottom: 50px;
}

section.interests-dbs-tid {
  margin-bottom: 50px;
}

section.interests-dbs-tid > div {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

section.interests-dbs-tid h3 {
  font-size: 3em;
  margin: 0;
  margin-right: 20px;
}

section.interests-dbs-tid button {
  margin-top: 0.5em;
}

section.interests-dbs-tid ul {
  display: flex;
  justify-content: space-around;
}

section.interests-dbs-tid li {
  font-size: 2em;
}

.dash-pic {
  width: 116px;
  height: 116px;
  border-radius: 50%
}

.search-blocks{
  display: flex;
  justify-content: space-around;
}

.search-block{
  background-color: white;
  border: 1px solid black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 25px;
}

.search-block:hover{
  box-shadow: 0px 0px 5px 5px #ff3255;
  transition: 0.125s;
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.dash-my-group{
  font-size: 34px;
}

.search-block p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

#search-icon{
  font-size: 175px;
}

.dash-header {
  display: flex;
  align-items: center;
}
.dash-title{
  font-size: 45px;
  margin-left: 20px;
  border-bottom: 2px solid black;
}

.dash-group-header {
  display: flex;
  flex-direction: row;
}

.dash-group-header button {
  margin-left: 20px;
}

.group-subtitle {
  padding: 35px 0 0 25px;
}

.name-and-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey-button {
  display: flex;
  margin-top: 25px;
}
