/*
  colors:
  blue - #caebf2
  dark gray - #a9a9a9
  red - #ff3b3f
  light gray - #efefef
  #545454
 */

body {
  font-family: 'Montserrat', sans-serif;
  background: #efefef;
  color: #545454;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
}

.header {
  width: 100%;
  height: 70px;
  background: #ff383f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-nav-icons{
  display: flex;
  flex-direction: row-reverse;
}

.header-links {
  border: 1px solid white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.profile-image{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 18px;
}

.header-links:hover {
  background: white;
  color: #ff3b3f;
  transition: background 0.5s ease;
}

.masthead {
  align-items: center;
  display: flex;
  justify-content: center;
}

.masthead-image {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('friends.jpg');
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 3;
}

.masthead-box {
  /* background-color: rgba(255, 255, 255, 0.5); */
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 700px;
  position: absolute;
}

.masthead-box h1 {
  margin-top: 100px;
  color: black;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 2px;
  color: white;
}

.masthead a {
  position: absolute;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: white;
  margin-top: -100px;
}

.masthead a:hover {
  background: white;
  color: #ff3b3f;
  transition: background 0.5s ease;
}

#how-it-works {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#how-it-works h1 {
  font-size: 70px;
  position: absolute;
  margin-top: 50px;
}

.search-for-individuals-box {
  height: 400px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 150px;
  border-right: 1px solid #a9a9a9;
}

.search-for-individuals-box p {
  margin-top: 30px;
  font-size: 24px;
}

.search-for-groups-box p {
  font-size: 24px;
}

.fa-user-circle {
  font-size: 275px;
}

.search-for-groups-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 400px;
  width: 50%;
  margin-top: 150px;
}

.fa-users {
  font-size: 300px;
}

.no-more-roommates {
  width: 100%;
  height: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center
}

.no-more-roommates img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.no-more-roommates .fa-user-circle {
  font-size: 100px;
}

.person-rating {
  font-size: 24px;
}

.no-more-roommates h1{
  margin-top: 20px;
  font-size: 70px;
}

.stars-landing {
  font-size: 50px;
  margin-bottom: 20px;
}

.similar-interests-landing {
  width: 100%;
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
}

.similar-interests-landing h1{
  margin-top: 20px;
  font-size: 70px;
}

.fa-wpforms {
  font-size: 125px;
}

.similar-interests-landing img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.person-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
